@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  margin: 0;
  padding: 0;
  width: 100dvw;
  height: 100dvh;
  font-family: 'Roboto', sans-serif;
  color: white;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
}

.left-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100vh;
  background-image: url('../assets/ps.jpg');
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  transition: all ease-in-out 1s;
}

.left-container::before {
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(87, 84, 236, .7);
}

.left-container > h1 {
  font-size: 4rem;
  position: absolute;
  left: 50%;
  top: 19%;
  transform: translateX(-50%);
  white-space: nowrap;
}

.left-container > button {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translateX(-50%);
  padding: 1.5rem 5rem;
  background-color: transparent;
  border: 3px solid white;
  color: white;
  font-size: 1rem;
  font-weight: 700;
  transition: all ease .3s;
  white-space: nowrap;
}

.left-container > button:hover {
  background-color: rgb(87, 84, 236);
  border-color: rgb(87, 84, 236);
}

.left-container:hover {
  width: 150%;
}

.right-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100vh;
  background-image: url('../assets/xbox.jpg');
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  transition: all ease-in-out 1s;
}

.right-container > h1 {
  font-size: 4rem;
  position: absolute;
  left: 50%;
  top: 19%;
  transform: translateX(-50%);
  white-space: nowrap;
}

.right-container > button {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translateX(-50%);
  padding: 1.5rem 5rem;
  background-color: transparent;
  border: 3px solid white;
  color: white;
  font-size: 1rem;
  font-weight: 700;
  transition: all ease .3s;
  white-space: nowrap;
}

.right-container > button:hover {
  background-color: rgb(28, 122, 28);
  border-color: rgb(28, 122, 28);
}

.right-container::before {
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(43, 43, 43, .8);
}

.right-container:hover {
  width: 150%;
}